<header class="main-header">
    <div class="main-header-top-bar">
        <img class="logo" src="/images/logo.png" alt="Imagen de logo" class="logo">
        <div class="menu-horizontal">
            <% if (locals.isUserSession) { %>
                <li><a href="/products/carrito"><i class="fa-solid fa-cart-shopping"></i></a></li>
                <li>
                    <a class="login" href="#"><img src="/images/users/<%= locals.usuarioLogueado.image %>"> <%= locals.usuarioLogueado.firstName %></a>
                    <ul class="menu-vertical">           
                        <li><a href="#">My profile</a></li>
                        <li><a href="/users/logout">Logout</a></li>
                    </ul>
                </li>
            <% } else {%>
                <li><a class="login" href="/users/login"><i class="fa-solid fa-user"></i> Login</a></li>
            <% } %>
        </div>        
    </div>
</header>