<header class="main-header">
    <div class="main-header-top-bar">
        <img class="logo" src="/images/logo.png" alt="Imagen de logo" class="logo">
        <% if (title == "Inicio" || title == "Productos") { %>
            <div>
                <a href="/products/carrito"><i class="fa-solid fa-cart-shopping"></i></a>
                <a class="sing-in" href="/user/login">Sign in</a>
            </div>
        <% } %>
    </div>
</header>