<header class="main-header">
    <div class="main-header-top-bar">
        <img class="logo" src="/images/logo.png" alt="Imagen de logo">
        <div class="menu-central">
            <form action="/products/search" method="GET" class="barra-busqueda">
                <input type="search" name="keywords" placeholder="Buscar productos" class="search">
                <button type="submit" class="search-form_button"><i class="lupa-icon fa-solid fa-magnifying-glass"></i></button> 
            </form>
            <nav class="main-navbar">
                <ul class="content-navbar">
                    <li><a href="/">Inicio</a></li>
                    <li><a href="/products">Todos los Productos</a></li>
                    <% if (locals.isUserSession && locals.usuarioLogueado.category == "Admin") { %>
                        <li><a href="/products/create">Nuevo Producto</a></li>
                    <% } %>
                </ul>
            </nav>
        </div>
        <div class="menu-horizontal">
            <% if (locals.isUserSession) { %>                    
                <li><a href="/products/carrito"><i class="fa-solid fa-cart-shopping"></i></a></li>
                <li>
                    <a class="login" href="#"><img src="/images/users/<%= locals.usuarioLogueado.image %>"> <%= locals.usuarioLogueado.firstName %></a>
                    <ul class="menu-vertical">           
                        <li><a href="/users/profile">Mi Perfil</a></li>
                        <li><a href="/users/logout">Logout</a></li>
                    </ul>
                </li>
            <% } else {%>
                <li><a class="login" href="/users/login"><i class="fa-solid fa-user"></i> Login</a></li>
            <% } %>
        </div>        
    </div>
</header>