<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>MD | Home</title>
    <link rel="stylesheet" href="/css/styles.css">
    <link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.5.1/css/all.min.css" rel="stylesheet" />
</head>
<body>
    <header class="main-header">
        <div class="main-header-top-bar">
            <img class="logo" src="/images/logo.png" alt="Imagen de logo" class="logo">
            <div>
                <a href="/carrito"><i class="fa-solid fa-cart-shopping"></i></a>
                <a class="sing-in" href="/user/login">Sign in</a>
            </div>
        </div>
    </header>
    <h1>Probá uno de estos platos</h1>
    <section class="main">
        <article class="product">
            <a class="enlace" href="/detalle">
                <img src="/images/hamburguesa.jpg" alt="hamburguesa">
                <div class="produc-atrib-box">
                    <h5>Suprema con papas</h5>
                    <p class="precio">$ 2.550</p>
                </div>
            </a>
        </article>
        <article class="product">
            <a class="enlace" href="/detalle">
                <img src="/images/pizza.png" alt="pizza">
                <div class="produc-atrib-box">
                    <h5>Pizza especial</h5>
                    <p class="precio">$ 2.000</p>
                </div>
            </a>
        </article>
        <article class="product">
            <a class="enlace" href="/detalle">
                <img src="/images/empanadas-pollo.jpg" alt="empanada-pollo">
                <div class="produc-atrib-box">
                    <h5>Empanadas al horno de pollo</h5>
                    <p class="precio">$ 3.000</p>
                </div>
            </a>
        </article>
    </section>
    <section class="about">
        <h3>SOBRE NOSOTROS</h3>
        <p>Esta es una tienda de comida online que le ofrece al cliente la posibilidad de ver y seleccionar los productos que desea y elegir las formas de pagos mas convenientes para él.
            Nos enfocamos en ofrecer una experiencia rápida y satisfactoria, proporcionando opciones de comidas rápidas de calidad que se ajustan a diferentes estilos de vida. Nuestro menú diverso y opciones personalizables nos permiten atender a una audiencia amplia, desde jóvenes en movimiento hasta familias que buscan opciones variadas para todos los gustos.
        </p>
    </section>
    <footer>
        <div>
            <img class="logo" src="/images/logo.png" alt="Imagen de logo" class="logo">
        </div>
        <div class="container-ubi">
            <h3>Ubicacion</h3>
            <iframe class="ubicacion" src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3061.9099865019584!2d-65.29717945252249!3d-24.1876561638403!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x941b0f5c9f0b4601%3A0xd851fa6781c86e59!2sS%C3%A1nchez%20de%20Bustamante%20175%2C%20San%20Salvador%20de%20Jujuy%2C%20Jujuy!5e0!3m2!1ses!2sar!4v1700224938623!5m2!1ses!2sar" width="600" height="450" style="border:0;" allowfullscreen="" loading="lazy" referrerpolicy="no-referrer-when-downgrade"></iframe>
        </div>
        <div>
            <h3>Contacto</h3>
            <div class="redes">
                <i class="fa-brands fa-square-facebook"></i>
                <i class="fa-brands fa-instagram"></i>
                <i class="fa-brands fa-youtube"></i>
            </div>
            <p>menudigital@gmail.com</p>
            <p>+5438857450</p>
        </div>
    </footer>
</body>
</html>