<!DOCTYPE html>
<html lang="en">
<!-- Include Head -->
<%- include('partials/head', {title: 'Inicio'}) %>
<body>
    <!-- Header -->
	<%- include('partials/headerNavbar', {title: 'Inicio'}) %>
	<!-- /Header -->
    <h1>Probá uno de estos platos</h1>
    <section class="main">
        <article class="product">
            <a class="enlace" href="/products/detalle">
                <img src="/images/hamburguesa.jpg" alt="hamburguesa">
                <div class="produc-atrib-box">
                    <h5>Suprema con papas</h5>
                    <p class="precio">$ 2.550</p>
                </div>
            </a>
        </article>
        <article class="product">
            <a class="enlace" href="/products/detalle">
                <img src="/images/pizza.png" alt="pizza">
                <div class="produc-atrib-box">
                    <h5>Pizza especial</h5>
                    <p class="precio">$ 2.000</p>
                </div>
            </a>
        </article>
        <article class="product">
            <a class="enlace" href="/products/detalle">
                <img src="/images/empanadas-pollo.jpg" alt="empanada-pollo">
                <div class="produc-atrib-box">
                    <h5>Empanadas al horno de pollo</h5>
                    <p class="precio">$ 3.000</p>
                </div>
            </a>
        </article>
    </section>
    <section class="about">
        <h3>SOBRE NOSOTROS</h3>
        <p>Esta es una tienda de comida online que le ofrece al cliente la posibilidad de ver y seleccionar los productos que desea y elegir las formas de pagos mas convenientes para él.
            Nos enfocamos en ofrecer una experiencia rápida y satisfactoria, proporcionando opciones de comidas rápidas de calidad que se ajustan a diferentes estilos de vida. Nuestro menú diverso y opciones personalizables nos permiten atender a una audiencia amplia, desde jóvenes en movimiento hasta familias que buscan opciones variadas para todos los gustos.
        </p>
    </section>
    <!-- footer -->
	<%- include('partials/footer') %>
	<!-- /footer -->
</body>
</html>