<!DOCTYPE html>
<html lang="en">
<!-- Include Head -->
<%- include('partials/head', {title: 'Login'}) %>
<body>
    <!-- Header -->
	<%- include('partials/headerNavbar') %>
	<!-- /Header -->
    <section class="main-form">
        <div class="form-img">
            <img src="/images/hamburguesa-register.jpg" alt="logo-hamburguesa">
        </div>
        <div class="form">
            <h2>LOG IN</h2>
            <!-- Formulario -->
            <form action="/users/login" method="POST" class="create-form" id="login-form">
                <% if (locals.errors && errors.credecial) { %>
                    <div>
                        <%= errors.credeciales.msg %>
                    </div>
                <% } %> 
                <div class="control-form">
                    <label for="email">Correo</label>
                    <input type="email" name="email" id="email" class="control">
                </div>
                <div class="control-form">
                    <label for="password">Contrase単a</label>
                    <input type="password" name="password" id="password" minlength="8" class="control"> 
                </div>
                <div class="control-checkbox">
                    <input type="checkbox" name="recordar" id="recordar">
                    <label for="recordar">Recordar</label>
                </div>
                <div class="control-boton">
                    <button type="submit" class="boton-form">Ingresar</button>
                </div>  
                <div class="control-acount">
                    <a href="#">多Olvidaste tu contrase単a?</a>
                </div>
                <div class="contenedor">
                    <div class="divider">
                        or
                    </div>
                </div>
                <div>
                    <div class="accesos">
                        <i class="fa-brands fa-google"></i>
                        <i class="fa-brands fa-facebook"></i>
                        <i class="fa-brands fa-twitter"></i>
                    </div>
                </div>
                <div class="control-acount">
                    多No tienes cuenta? <a href="/users/register">Registrate</a>
                </div>
            </form>
        </div>
    </section>
    <!-- footer -->
	<%- include('partials/footer') %>
	<!-- /footer -->
</body>
</html>