<!DOCTYPE html>
<html lang="en">
<!-- Include Head -->
<%- include('partials/head', {title: 'Carrito'}) %>
<body>
    <!-- Header -->
	<%- include('partials/headerNavbar', {title: 'Carrito'}) %>
	<!-- /Header -->
    <div class="container-progress">
        <ul>
            <li>
                <p class="text">Orden</p>
                <div class="active progress one">
                    <p>1</p>
                    <i class="uil fa-solid fa-check"></i>
                </div>
            </li>
            <li>
                <p class="text">Pago</p>
                <div class="progress two">
                    <p>2</p>
                    <i class="uil fa-solid fa-check"></i>
                </div>
            </li>
            <li>
                <p class="text">Confirmacion</p>
                <div class="progress three">
                    <p>3</p>
                    <i class="uil fa-solid fa-check"></i>
                </div>
            </li>
        </ul>
    </div>
    <table>
        <tr>
          <th>Comida</th>
          <th class="cantidad-col">Cantidad</th>
          <th class="precio-col">Precio</th>
          <th></th>
        </tr>
        <tr>
            <td>
                <div>
                    <img src="/images/hamburguesa.jpg" alt="hamburguesa">
                    <p>Suprema con papas</p>
                </div>
            </td>
            <td>
                <select name="cantidad">
                    <option value="1" selected>1</option>
                    <option value="2">2</option>
                    <option value="3">3</option>
                    <option value="4">4</option>
                    <option value="5">5</option>
                    <option value="6">6</option>
                    <option value="7">7</option>
                    <option value="8">8</option>
                    <option value="9">9</option>
                    <option value="10">10</option>
                </select>
            </td>
            <td>$ 2.550</td>
            <td><a><i class="fa-solid fa-square-xmark"></i></a></td>
        </tr>
        <tr>
            <td>
            <div>
                <img src="/images/pizza.png" alt="pizza">
                <p>Pizza especial</p>
            </div>
            </td>
            <td>
                <select name="cantidad">
                    <option value="1" selected>1</option>
                    <option value="2">2</option>
                    <option value="3">3</option>
                    <option value="4">4</option>
                    <option value="5">5</option>
                    <option value="6">6</option>
                    <option value="7">7</option>
                    <option value="8">8</option>
                    <option value="9">9</option>
                    <option value="10">10</option>
                </select>
            </td>
            <td>$ 2.000</td>
            <td><a><i class="fa-solid fa-square-xmark"></i></a></td>
        </tr>
    </table>
    <div class="contenedor-subtotal">
        <p>Subtotal</p>
        <p class="total">$ 4.550</p>
    </div>
    <div class="control-boton">
        <button type="submit" class="boton-cart">Continuar</button>
    </div>
    <!-- footer -->
	<%- include('partials/footer') %>
	<!-- /footer -->
</body>
</html>