<!DOCTYPE html>
<html lang="en">
<!-- Include Head -->
<%- include('partials/head', {title: 'Detalle'}) %>
<body>
    <article class="product-detail">
        <img src="/images/hamburguesa.jpg" alt="hamburguesa">
        <div class="box-detail-top">
            <h3>Suprema con papas</h3>
            <p class="precio">$ 2.550</p>
        </div>
        <div class="box-detail-center">
            <h4>Contiene</h4>
            <ul>
                <li>1 Carne</li>
                <li>Cheddar</li>
                <li>Tocino</li>
                <li>Salsa golf</li>
                <li>Mayonesa</li>
                <li>Papas fritas</li>
            </ul>
        </div>
        <div class="box-detail-buttom">
            <form action="/home" method="POST" id="login-form"> 
                <button type="submit" class="boton-form">Agregar al carrito</button>
            </form>
        </div>
    </article>
</body>
</html>